{% extends "head.html" %}
        {% block title %}test #4{% endblock %}
        {% block head %}
        {{ super () }}
        {% endblock %}
        
{% block content %}

<body>
    <dl class='data-out'>
        <dt id="story-title">&nbsp; <a href="../stories/date/10-2021/1", id='title-href'>test #4</a></dt>
        <p id="story-content">&nbsp;&nbsp; Dziękuję, za podesłanie historii. Niedługo będzie umieszczona na profilu instagramowym.
            <br>Jeśli chcesz ją jeszcze raz przeczytać, kliknij na tytuł, lub odszukaj w pozostałych historiach. </p>
    </dl>
    <a onclick="window.history.go(-1)"><button id='submit' class="data-in buttons">Powrót</button></a>
    <a href='/stories'><button id='stories-button' class="data-in buttons">Pozostałe historie</button></a>
</body>

{% endblock %}